
@{
    ViewBag.Title = "About";
}

<h2>About Application</h2>
<p>
    Навигационное приложение для поиска маршрута различными видами транспорта.
    Для навигации используются карты Google и их API. Приложение содержит базу данных адресов,
    пооддерживает CRUD операции для всех таблиц базы данных. Есть возможность
    поиска дома на карте пути проезда от заданного адреса до выбранного дома
    (пешком, на велике, на авто и на общественном транспорте).
    Приложение поодерживает несколько режимов: режим администратора, в котором доступны CRUD операции и
    режим обычного пользователя, в котором доступна только работа с картой.
</p>
<br>
    Команда разработчиков:
<br>
    Мартынюк Виталий
<br>
    Демидюк Андрей
<br>
    Демидов Виктор
<br>
    Косогов Илья
<br>
    Рожко София
<br>
    Горюк Никита

